*{
    padding: 0;
    margin: 0;
}
ul li a:hover{
    color: rgb(26, 2, 129)!important;
}
ul li a {
    color: rgb(79, 79, 148)!important;
    font-weight: bold;
}
.navbar-nav{
    text-align: right;
}
 .navbar-toggler{
    padding-right: 0;
    outline: none;
    border: none;
}
#bg-img{
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/log-reg-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
#about .row{
    padding: 10px 0;
    margin: -190px 6% 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 2px grey ;
    background-color: white;
}
#about{
    margin-top: -250px;
}

.skills #header{
    color: rgb(24, 24, 51); 
    font-size: 30px;
    font-weight: bold;
}
.skills hr{
    background-color: rgb(24, 24, 51); 
    height: 2px;
}
.experience #header{
    color: rgb(24, 24, 51); 
    font-size: 30px;
    font-weight: bold;
}
.experience hr{
    background-color: rgb(24, 24, 51); 
    height: 2px;
}
.experience .card{
    border-radius: 10px;
    box-shadow: 2px 4px 2px grey ;
    background-color: white;
    margin-bottom: 20px;
    border-top: 5px solid rgb(187, 181, 255);
}
.footer-top{
    background: rgb(32, 32, 70);
    padding: 50px 0;
    margin-top: 40px;
}
.footer-top .xy{
    margin-bottom: 50px;
}
.footer-top p{
    color:#fff;
    line-height: 25px;
}
.footer-top h3{
    color: #fff;
    font-size: 18px;
}
.segment-one h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
}
.segment-two h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.segment-two h3::before{
    content: '|';
    color: rgb(79, 79, 148);
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 40px;
}
.segment-two ul li a{
    color: rgb(187, 181, 255)!important;
}
.segment-two ul li a:hover{
    text-decoration: none;
    color: rgb(79, 79, 148)!important;
}
.segment-three h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.segment-three h3::before{
    content: '|';
    color: rgb(79, 79, 148);
    padding-right: 10px;
}
.segment-three a{
    background: rgb(187, 181, 255);
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
}
.segment-three a:hover{
    border: 1px solid rgb(187, 181, 255);
    background: transparent;  
}
.segment-four h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.segment-four h3::before{
    content: '|';
    color: rgb(79, 79, 148);
    padding-right: 10px;
}
.segment-four form #subscribe{
    background: rgb(187, 181, 255);
    border: none;
    color:rgb(79, 79, 148);   
    padding: 2px;
    font-weight: bold;
}
.segment-four form #subscribe:hover{
    background: transparent;
    border: 1px solid white;
}
.segment-four form #form{
    padding: 10px;
}
#footer-foot{
    background: rgb(24, 24, 51);
    color: #fff;
    padding: 10px;
    font-weight: lighter;
}